@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-white: #ffffff;
  --main-black: #000000;
  --main-text: #051023;
  --header-bg: #e4e7efd5;
  --button-bg: #18336e;
  --button-bg-hover: #2b7fff;
  --button-hero-bg: #1c1e23;
  --button-hero-bg-hover: #282f41;
  --custom-gray: #7e838f;
  --custom-gray-light: #f8f9ff;
  --custom-gray-dark: #a1a6b4;
  --custom-gray-darker: #57595f;
  --custom-gray-400: #d1d5dc;
  --custom-slate-400: #cad5e2;
  --custom-slate-500: #62748e;
  --custom-slate-600: #45556c;
  --custom-red: #fb2c36;
  --custom-blood-red: #e7000b;
  --custom-blue: #2762da;
  --custom-blue-2: #2b7fff;
  --custom-blue-light: #add7ff;
  --shadow: #e4e7ef;
}

@theme inline {
  /* color */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-white: var(--main-white);
  --color-main-black: var(--main-black);
  --color-main-text: var(--main-text);
  --color-header-bg: var(--header-bg);
  --color-button-bg: var(--button-bg);
  --color-button-bg-hover: var(--button-bg-hover);
  --color-button-hero-bg: var(--button-hero-bg);
  --color-button-hero-bg-hover: var(--button-hero-bg-hover);
  --color-custom-gray: var(--custom-gray);
  --color-custom-gray-light: var(--custom-gray-light);
  --color-custom-gray-dark: var(--custom-gray-dark);
  --color-custom-gray-darker: var(--custom-gray-darker);
  --color-custom-gray-400: var(--custom-gray-400);
  --color-custom-slate-400: var(--custom-slate-400);
  --color-custom-slate-500: var(--custom-slate-500);
  --color-custom-slate-600: var(--custom-slate-600);
  --color-custom-red: var(--custom-red);
  --color-custom-blood-red: var(--custom-blood-red);
  --color-custom-blue: var(--custom-blue);
  --color-custom-blue-2: var(--custom-blue-2);
  --color-custom-blue-light: var(--custom-blue-light);
  --color-shadow: var(--shadow);

  /* font-family */
  --font-montserrat: var(--font-montserrat);
  --font-outfit: var(--font-outfit);
  --font-alumni: var(--font-alumni-sans);

  /* screens */
  --breakpoint-xs: 520px;
  --breakpoint-2xs: 420px;
  --breakpoint-3xs: 370px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-white: #ffffff;
    --main-black: #000000;
  }
}

* {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
body {
  font-family: Verdana, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
}
/* Hide scrollbar for Chrome, Safari and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.truncate {
  display: -webkit-box; /* For Safari */
  -webkit-box-orient: vertical; /* For Safari */
  -webkit-line-clamp: 2; /* Limit to 2 lines, adjust as needed */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis */
}

/* Fallback for non-WebKit browsers */
.truncate {
  display: block; /* Default block display */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis */
  line-height: 1.5; /* Adjust line height */
  max-height: calc(1.5em * 2); /* Adjust max height for 2 lines */
}

/* .max-page-height {
  max-width: 2000px;
} */
.max-page-width {
  max-width: 2000px;
}

@keyframes btnShakeLeft {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(-2px);
  }

  75% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes btnShakeRight {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

.btn-shake-left {
  animation: btnShakeLeft 2s infinite;
}

.btn-shake-right {
  animation: btnShakeRight 2s infinite;
}
